@import url('../res//Roboto.css');

.skills{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.skills h4{
    font-family: rob-bld;
    color: white;
    text-align: center;
    font-size: 1.60rem;
}
.skills .p2{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 15px;
}
.skills .front{
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgba(204, 204, 204, 0.455);
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.skills .back,.skills .others{
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(204, 204, 204, 0.455);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills .back{
    margin-right: 15px;
}
.skills section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills  .tit{
    font-family: rob-bld;
    color: white;
    font-size: 1.6rem;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

.skills b{
    font-family: rob-bld;
    color: white;
    font-size: 0.9rem;
    margin-right:20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.skills b img{
    height: 20px;
    width: 20px;
    margin-right: 7px;
    vertical-align: middle;
}